* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.filter {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.filter input {
  height: 50px;
  padding-left: 5px;
  border: 1px solid rgb(222, 222, 222);
  outline: none;
}
.filter button {
  border: none;
  outline: none;
  background-color: #69a8ff;
  color: #fff;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.filter button:hover {
  background-color: #7bb2ff;
}

.spinner-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-loading {
  width: 100px;
  height: 100px;
}