* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.t-head {
    background-color: rgb(240, 240, 240);
    width: 100%;
    display: grid;
    align-items: center;
}

.t-row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.t-body .t-row:hover {
    background-color: #fafafa;
}

.t-col {
    border-bottom: 1px solid rgb(222, 222, 222);
    border-right: 1px solid rgb(222, 222, 222);
    height: auto;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-col,
.id-col {
    justify-content: flex-start;
}